<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barrels Info</title>
    <link rel="stylesheet" href="css/barrels.css">
</head>
<body>
    <div class="navbar">
        <a href="http://localhost:8080/dashboard">Dashboard</a>
    </div>
    <div class="barrels-container">
        <h1>Active Barrels</h1>
        <ul id="barrelsList">
        </ul>
    </div>

    <script src="js/functions.js"></script>
</body>
</html>
