<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/dashboard.css">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>
<div class="dashboard-container">
    <h1>Googol</h1>
    <!-- Search Form -->
    <form id="searchForm" onsubmit="return false;">
        <label for="searchInput"></label>
        <input type="text" id="searchInput" name="query" placeholder="Enter search query" required>
        <button type="button" onclick="handleSearch()">Search</button>
    </form>

    <!-- URL Indexing Form -->
    <form id="urlForm" onsubmit="return false;">
        <label for="urlInput"></label>
        <input type="text" id="urlInput" placeholder="Enter URL to index">
        <button type="button" onclick="indexUrl()">Index URL</button>
    </form>

    <!-- URL Search Form -->
    <form id="urlSearchForm" onsubmit="return false;">
        <label for="urlSearchInput"></label>
        <input type="text" id="urlSearchInput" placeholder="Enter URL to search">
        <button type="button" onclick="searchUrl()">Search URL</button>
    </form>

    <button type="button" onclick="redirectTopSearches()">View Top Searches</button>
    <button type="button" onclick="redirectBarrels()">View Barrel Information</button>

    <!-- Search Results -->
    <div id="searchResults">
        <ul id="searchResultList"></ul>
    </div>
</div>
<script src="js/functions.js"></script>
<script>
    window.onload = function () {
        const urlParams = new URLSearchParams(window.location.search);
        const error = urlParams.get('error');

        if (error) {
            const errorMessage = document.getElementById('error-message');
            errorMessage.textContent = 'Credenciais inválidas!';
            errorMessage.style.display = 'block';

            const urlInput = document.getElementById('urlInput');
            urlInput.classList.add('error');
            shakeElement(urlInput);
        }

        const url = urlParams.get('search-url');
        if (url) {
            loadURLResults(url);
        }
    }
</script>
</body>
</html>
