<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/dashboard.css">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>
<div class="dashboard-container">
    <h1>Googol</h1>
    <!-- Search Form -->
    <form id="searchForm" onsubmit="return false;">
        <label for="searchInput"></label>
        <input type="text" id="searchInput" name="query" placeholder="Enter search query" required>
        <button type="button" onclick="handleSearch()">Search</button>
    </form>

    <!-- URL Indexing Form -->
    <form id="urlForm" onsubmit="return false;">
        <label for="urlInput"></label>
        <input type="text" id="urlInput" placeholder="Enter URL to index">
        <button type="button" onclick="indexUrl()">Index URL</button>
    </form>

    <button type="button" onclick="handleTopSearches()">View Top Searches</button>
    <button type="button" onclick="redirectToBarrelInfo()">View Barrel Information</button>

    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Messages</th>
                </tr>
                </thead>
                <tbody id="messages">
                </tbody>
            </table>
        </div>
    </div>

</div>
<script src="js/functions.js"></script>
<script>
    window.onload = function () {
        const urlParams = new URLSearchParams(window.location.search);
        const error = urlParams.get('error');

        if (error) {
            const errorMessage = document.getElementById('error-message');
            errorMessage.textContent = 'Credenciais inválidas!';
            errorMessage.style.display = 'block';

            const urlInput = document.getElementById('urlInput');
            urlInput.classList.add('error');
            shakeElement(urlInput);
        }
    }
</script>
</body>
</html>