<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Googol Application</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="login-container">
    <h1>Login</h1>
    <form class="form-signin" action="/login" method="post" id="loginForm">
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="button-group">
            <button type="submit">Login</button>
            <button type="button" id="registerButton" onclick="submitRegisterForm()">Register</button>
        </div>
    </form>

    <form class="form-register" action="/register" method="post" id="registerForm" style="display:none;">
        <div class="input-group">
            <label for="newUsername">Username</label>
            <input type="text" id="newUsername" name="username" required>
        </div>
        <div class="input-group">
            <label for="newPassword">Password</label>
            <input type="password" id="newPassword" name="password" required>
        </div>
    </form>
</div>
    <script src="js/functions.js"></script>
</body>
</html>
