<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Searches</title>
    <link rel="stylesheet" href="css/top-searches.css">
</head>
<body>
<div class="navbar">
    <a href="http://localhost:8080/dashboard">Dashboard</a>
</div>
<div class="top-searches-container">
    <h1>Top 10 Searches</h1>
    <ul id="topSearchesList"></ul>
</div>
<script src="js/functions.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script>
    function connect() {
        const socket = new SockJS('/my-websocket');
        const stompClient = Stomp.over(socket);

        stompClient.connect({}, function (frame) {
            stompClient.subscribe('/topic/update-top-searches', function () {
                loadTopSearches();  // Atualiza a lista de top searches
            });
        });
    }

    function loadTopSearches() {
        fetch('/top-searches-list')
            .then(response => response.json())
            .then(data => {
                const listElement = document.getElementById('topSearchesList');
                listElement.innerHTML = '';

                for (const [search, count] of Object.entries(data.results)) {
                    const listItem = document.createElement('li');
                    listItem.textContent = `${search}: ${count} times`;
                    listElement.appendChild(listItem);
                }
            })
            .catch(error => console.error('Error loading top searches:', error));
    }

    window.onload = function () {
        connect();
        loadTopSearches();
    };
</script>
</body>
</html>
